<tm-ui-base-dialog
  headerIcon="ti ti-exam"
  [headerTitle]="'Quiz Form'"
  [showActions]="true"
  [submitTitle]="'Add'"
  [discardTitle]="'Cancel'"
  (submitAction)="onSubmit()"
>
  <div class="main-dialog-content">
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="quizFg" *ngIf="quizFg" class="w-100">
          <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
            <mat-tab>
              <ng-template mat-tab-label>
                <img
                  src="./assets/images/flags/us.png"
                  alt="{{ 'courses.english' | translate }}"
                />
                {{ 'courses.english' | translate }}
              </ng-template>

              <div class="row w-100">
                <div class="col-lg-12 mb-3">
                  <mat-label>Title</mat-label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input
                      matInput
                      formControlName="title"
                      [placeholder]="'Title'"
                    />
                    <mat-error tmUiFormErrorMessages></mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-12 mb-3">
                  <tm-ui-ngx-editor
                    [label]="'Description'"
                    [formGroup]="quizFg"
                    [fcName]="'description'"
                  ></tm-ui-ngx-editor>
                </div>

                <div class="col-lg-12 mb-3">
                  <tm-ui-upload-file
                    [label]="'Upload File'"
                    [formGroup]="quizFg"
                    [fcName]="'image'"
                  ></tm-ui-upload-file>
                </div>

                <div class="col-lg-3 mb-3 d-flex align-items-center">
                  <mat-checkbox formControlName="isShareable">
                    Shareable
                  </mat-checkbox>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <img
                  src="./assets/images/flags/kw.png"
                  alt="{{ 'courses.arabic' | translate }}"
                />
                {{ 'courses.arabic' | translate }}
              </ng-template>

              <div class="row w-100">
                <div class="col-lg-12 mb-3">
                  <mat-label>Title (Arabic)</mat-label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input
                      matInput
                      formControlName="titleAr"
                      [placeholder]="'Title'"
                    />
                    <mat-error tmUiFormErrorMessages></mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-12 mb-3">
                  <tm-ui-ngx-editor
                    [label]="'Description (Arabic)'"
                    [formGroup]="quizFg"
                    [fcName]="'descriptionAr'"
                  ></tm-ui-ngx-editor>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
    </div>
  </div>
</tm-ui-base-dialog>
